{% load i18n %}

  <div class="section">
  
    <div class="info_box">
      {% if document_relation_list %}
        <div class="info_box_content">
          <table class="table table-striped">
            {% for rel in document_relation_list %}
            <tr>
              <td style="font-size: 11px;">
                
                {% if show_document %}
                  <i class="icon-arrow-right"></i> <i class="icon-inbox"></i>
                {% endif %}
                {% if show_document or site_config.with_public_docs %}
                <a href="{{ rel.document.get_absolute_url }}{% if rel.page %}?page={{ rel.page }}{% endif %}" style="font-size:11px;">
                {% endif %}   
                {% if show_document %}{{ rel.document }}, {% endif %}
                {% if rel.page %}
                  {% trans "Page" %} {{ rel.page}}
                {% else %}  
                  {% trans "Entire document" %}
                {% endif %}
                {% if show_document or site_config.with_public_docs %}
                </a>
                {% endif %}
                  <br>
                <span style="font-size:11px;">{{ rel.description|linebreaksbr }}</span><br>
                {% if show_related_to %}
                <i class="icon-arrow-right"></i> 
                {% if rel.related_to_type.name == "project part" %}
                  <i class="icon-cogs"></i>
                {% elif rel.related_to_type.name == "participant" %}
                  <i class="icon-group"></i>
                {% elif rel.related_to_type.name == "event" %}
                  <i class="icon-time"></i>
                {% elif rel.related_to_type.name == "document" %}
                  <i class="icon-inbox"></i>
                {% endif %} 
                <a href="{{ rel.related_to.get_absolute_url }}" style="font-size:11px;">{{ rel.related_to }}</a>
              {% endif %}
                
                </td>
            </tr>
            {% endfor %}
          </table>     
        </div>
      {% else %}
        <span style="font-size:12px;">
        {% trans "No relations defined." %}
        </span>
      {% endif %}
    </div>
  
  </div>