{% load i18n %}

{% if form_valid %}
test test test
  {% trans "Thank you for your supplement to the table of contents. Your supplement still needs to be activated." as confirm_text %}
  {% include "dialogs/generic_confirm.html" %}   
{% endif %}

<div class="modal hide fade" id="DocContentRelationModal">
  
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>{% trans "Supplement table of contents" %}</h3>
  </div>
  
  <form enctype="multipart/form-data" class="form-horizontal" action="." method="post">
  {% csrf_token %}
  <div class="modal-body">
    <script type="text/javascript">
      $(document).ready(function() {
        $('#DocContentRelationModal').modal({
          keyboard: false,
          {% if form.is_bound %}show: true{% else %}show: false{% endif %}
        })
        remove_contenttype_model_selectbox_empty_choices('#DocContentRelationModal', 'related_to');
        change_contenttype_selectbox_choices('#DocContentRelationModal', 'related_to');
        
        $("#DocContentRelationModal #id_related_to_type").change(function(){
          change_contenttype_selectbox_choices('#DocContentRelationModal', 'related_to');
        });
      });
    </script>
    <p>
    {% for field in form.visible_fields %}
      <div class="control-group" style="
      {% if field.auto_id == "id_related_to_id_projectpart" or field.auto_id == "id_related_to_id_participant" or field.auto_id == "id_related_to_id_event" or field.auto_id == "id_related_to_id_document" %}display:none;{% endif %}">
        {% for error in field.errors %}
          <div class="alert alert-error">{{ error }}</div>
        {% endfor %}
        <div>
          <div style="font-size:12px;margin-bottom:5px;{% if field.field.required %}font-weight: bold;{% endif %}">
            {{ field.help_text }}
            
          </div>
          {{ field }}
        </div>
      </div>
    {% endfor %}
    {% for field in form.hidden_fields %}
      {{ field }}
    {% endfor %}
    </p>
  </div>
  
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
    <input name="doc_content_relation_form" type="submit" class="btn btn-primary" value="{% trans "Send supplement" %}" />
  </div>
  </form>
  
</div>