{% extends 'base.html' %}
{% load i18n %}

{% block content %}


<div class="span8">
  {% trans "Document" as sh_title %}
  {% with sh_title=sh_title sh_icon="icon-inbox" sh_url_title="" %}
    {% include "layout_elements/section_header.html" %}
  {% endwith %}
  
  <div class="section">
    
    <div class="info_box" style="background-color: #f9f9f9;padding: 15px;">
      <div class="info_box_header">
        {{ document.title }}
      </div>
      <div class="info_box_content">
        {% if document.author %}
        <p>
          {% trans "Author" %}: <a href="{{ document.author.get_absolute_url }}">{{ document.author.name }}</a>
        </p>
        {% endif %}
        <p>
          {{ document.date }}
        </p>
        <p>
          {{ document.description }}
        </p>
        <p>
          Download: <a href="/media/{{ document.document }}" target="_blank">{{ document.get_document_name }}</a>
        </p>
      </div>
    </div>
    
  </div>
  
  {% if publicdocs_doc %}
    {% with document=publicdocs_doc %}
    {% include "documents/documents/document/content.html" %}
    {% endwith %}
  {% endif %}
 
  {% trans "Comments" as sh_title %}
  {% trans "New Comment" as sh_url_title %}
  {% with sh_title=sh_title sh_icon="icon-comments" sh_url_title=sh_url_title sh_url="#CommentModal" modal_url="yes" %}
    {% include "layout_elements/section_header.html" %}
  {% endwith %}
  
  {% include "info_box/comments.html" %}
 
</div>

<div class="span4">
  
  {% trans "Document Relations" as sh_title %}
  {% trans "Vorschlagen" as sh_url_title %}
  {% with sh_title=sh_title sh_icon="icon-inbox" sh_url_title=sh_url_title sh_url="#RelationModal" modal_url="yes" %}
    {% include "layout_elements/section_header.html" %}
  {% endwith %}
  
  {% with show_related_to="yes" %}
    {% include "info_box/document_relations.html" %}
  {% endwith %}
  {% if document_relation_form_valid %}

  <div class="modal hide fade" id="ok_dialog">
  <div class="modal-body">
    <p>Danke!</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#ok_dialog').modal({
          keyboard: false,
          show: true
        })
    });
  </script>
  
  {% endif %}
  {% with dialog_id="RelationModal" relation_form=document_relation_form %}
    {% include "dialogs/document_relation.html" %}
  {% endwith %}
  
</div>

{% include "documents/documents/document/content_js.html" %}

{% endblock %}
