{% extends 'base.html' %}
{% load i18n %}

{% block content %}


<div class="span6">
  {% trans "Event" as sh_title %}
  {% with sh_title=sh_title sh_icon="icon-time" sh_url_title="" %}
    {% include "layout_elements/section_header.html" %}
  {% endwith %}
  
  <div class="section">
    
    <div class="info_box" style="background-color: #f9f9f9;padding: 15px;">
      <div class="info_box_header">
        {{ event.title }}
      </div>
      <div class="info_box_content">
        <p>
          {{ event.date }}
        </p>
        <p>
          {{ event.description }}
        </p>
      </div>
    </div>
    
  </div>
  
  {% trans "Participants" as sh_title %}
  {% with sh_title=sh_title sh_icon="icon-group" sh_url_title="" %}
    {% include "layout_elements/section_header.html" %}
  {% endwith %}
  
  <div class="section">
  
    <div class="info_box">
      {% with participant_list=event.participants.all %}
      {% if participant_list %}
        <div class="info_box_content">
          {% include "info_box/participants.html" %}        
        </div>
      {% else %}
        {% trans "No participants for this event." %}
      {% endif %}
      {% endwith %}
    </div>
  
  </div>

  {% trans "Project Parts" as sh_title %}
  {% with sh_title=sh_title sh_icon="icon-cogs" sh_url_title="" %}
    {% include "layout_elements/section_header.html" %}
  {% endwith %}
  
  <div class="section">
  
    <div class="info_box">
      {% with project_part_list=event.project_parts.all %}
      {% if project_part_list %}
        <div class="info_box_content">
          {% include "info_box/project_parts.html" %}        
        </div>
      {% else %}
        {% trans "No project parts for this event." %}
      {% endif %}
      {% endwith %}
    </div>
  
  </div>
 
</div>

<div class="span6">

  {% trans "Web-Sources" as sh_title %}
  {% with sh_title=sh_title sh_icon="icon-globe" sh_url_title="" %}
    {% include "layout_elements/section_header.html" %}
  {% endwith %}
  
  <div class="section">
    <div class="info_box">
      <div class="info_box_content">
          {% with information_source_list=event.websource_set.all %}
          {% if information_source_list %}
            {% include "info_box/information_sources.html" %}
          {% else %}
            {% trans "No web sources for this event." %}
          {% endif %}
          {% endwith %}
      </div>
    </div>
  </div>

  {% trans "Documents" as sh_title %}
  {% with sh_title=sh_title sh_icon="icon-book" sh_url_title="" %}
    {% include "layout_elements/section_header.html" %}
  {% endwith %}
  
  <div class="section">
    <div class="info_box">
      <div class="info_box_content">
          {% with information_source_list=event.document_set.all %}
          {% if information_source_list %}
            {% include "info_box/information_sources.html" %}
          {% else %}
            {% trans "No documents for this event." %}
          {% endif %}
          {% endwith %}
      </div>
    </div>
  </div>
  
</div>

{% endblock %}
