{% extends 'base.html' %}
{% load i18n %}

{% block content %}


<div class="span6">
  {% trans "Information-Sources" as sh_title %}
  {% with sh_title=sh_title sh_icon="icon-inbox" sh_url_title="" %}
    {% include "layout_elements/section_header.html" %}
  {% endwith %}
  
  <div class="section">
    {% trans "Web-Sources/Documents" as ib_title %}
    {% with ib_title=ib_title ib_content=project.desc_information_sources %}
    {% include "info_box/generic.html"%}
    {% endwith %}
  </div>
  
  {% trans "Web-Sources" as sh_title %}
  {% with sh_title=sh_title sh_icon="icon-globe" sh_url_title="" %}
    {% include "layout_elements/section_header.html" %}
  {% endwith %}
  
  <div class="section">
    <div class="info_box">
      <div class="info_box_content">
          {% with information_source_list=web_source_list %}
            {% include "info_box/information_sources.html" %}
          {% endwith %}
      </div>
    </div>
  </div>
</div>

<div class="span6">

  {% trans "Documents" as sh_title %}
  {% with sh_title=sh_title sh_icon="icon-book" sh_url_title="" %}
    {% include "layout_elements/section_header.html" %}
  {% endwith %}
  
  <div class="section">
    <div class="info_box">
      <div class="info_box_content">
          {% with information_source_list=document_list %}
            {% include "info_box/information_sources.html" %}
          {% endwith %}
      </div>
    </div>
  </div>
  
</div>

{% endblock %}