{% extends 'base.html' %}
{% load i18n %}

{% block title %} - {% trans "Participants" %}{% endblock %}

{% block content %}


<div class="span6">

  {% trans "Participants" as sh_title %}
  {% with sh_title=sh_title sh_icon="icon-group" sh_url_title="" %}
    {% include "layout_elements/section_header.html" %}
  {% endwith %}
  
  <div class="section">
    {% with ib_title="" ib_content=project.desc_participants %}
    {% include "info_box/generic.html"%}
    {% endwith %}
    
    <div class="info_box ib_text">
      <div class="info_box_header">
        {% trans "Current project-responsible Actors" %}
      </div>
      <div class="info_box_content">
        <p>
        {% with participant_list=project.responsible_participants.all %}
          {% include "info_box/participants.html" %}
        {% endwith %}
        </p>
      </div>
    </div>
    
    <div class="info_box ib_text">
      <div class="info_box_header">
        {% trans "Former project-responsible Actors" %}
      </div>
      <div class="info_box_content">
        <p>
        {% with participant_list=project.former_responsible_participants.all %}
          {% include "info_box/participants.html" %}
        {% endwith %}
        </p>
      </div>
    </div>
  </div>
  
  {% trans "Administration" as sh_title %}
  {% with sh_title=sh_title sh_icon="icon-group" sh_url_title="" %}
    {% include "layout_elements/section_header.html" %}
  {% endwith %}
  
  <div class="section">
  
    <div class="info_box">
      {% with participant_list=ad_participant_list %}
        {% include "info_box/participants.html" %}
      {% endwith %}
    </div>
  
  </div>
  
  {% trans "Politics / Party / Parliament" as sh_title %}
  {% with sh_title=sh_title sh_icon="icon-group" sh_url_title="" %}
    {% include "layout_elements/section_header.html" %}
  {% endwith %}
  
  <div class="section">
  
    <div class="info_box">
      {% with participant_list=po_participant_list %}
        {% include "info_box/participants.html" %}
      {% endwith %}
    </div>
  
  </div>
  
  
</div>

<div class="span6">
  
  {% trans "Company" as sh_title %}
  {% with sh_title=sh_title sh_icon="icon-group" sh_url_title="" %}
    {% include "layout_elements/section_header.html" %}
  {% endwith %}
  
  <div class="section">
  
    <div class="info_box">
      {% with participant_list=co_participant_list %}
        {% include "info_box/participants.html" %}
      {% endwith %}
    </div>
  
  </div>
  
  {% trans "Citizens" as sh_title %}
  {% with sh_title=sh_title sh_icon="icon-group" sh_url_title="" %}
    {% include "layout_elements/section_header.html" %}
  {% endwith %}
  
  <div class="section">
  
    <div class="info_box">
      {% with participant_list=ci_participant_list %}
        {% include "info_box/participants.html" %}
      {% endwith %}
    </div>
  
  </div>
  
  {% trans "Miscellaneous" as sh_title %}
  {% with sh_title=sh_title sh_icon="icon-group" sh_url_title="" %}
    {% include "layout_elements/section_header.html" %}
  {% endwith %}
  
  <div class="section">
  
    <div class="info_box">
      {% with participant_list=se_participant_list %}
        {% include "info_box/participants.html" %}
      {% endwith %}
    </div>
  
  </div>

  {% trans "New Comments" as sh_title %}
  {% with sh_title=sh_title sh_icon="icon-comments" sh_url_title="" %}
    {% include "layout_elements/section_header.html" %}
  {% endwith %}
  
  {% with show_commented_object="yes" %}
  {% include "info_box/comments.html" %}
  {% endwith %}
  
</div>

{% endblock %}