{% extends 'base.html' %}
{% load i18n %}

{% block content %}


<div class="span6">
  {% trans "Participant" as sh_title %}
  {% with sh_title=sh_title sh_icon="icon-group" sh_url_title="" %}
    {% include "layout_elements/section_header.html" %}
  {% endwith %}
  
  <div class="section">
    
    <div class="info_box" style="background-color: #f9f9f9;padding: 15px;">
      <div class="info_box_header">
        {{ participant.name }}
      </div>
      <div class="info_box_content">
        <p style="font-size:12px;">
          {% trans "Type" %}: {{ participant.get_participant_type_display }}
        </p>
        <p>
          {{ participant.description }}
        </p>
      </div>
    </div>
    
  </div>
  
  {% trans "Events" as sh_title %}
  {% with sh_title=sh_title sh_icon="icon-time" sh_url_title="" %}
    {% include "layout_elements/section_header.html" %}
  {% endwith %}
  
  {% with event_list=participant.related_events.all %}
    {% include "info_box/events.html" %}
  {% endwith %}
  
  
  {% trans "Comments" as sh_title %}
  {% trans "New Comment" as sh_url_title %}
  {% with sh_title=sh_title sh_icon="icon-comments" sh_url_title=sh_url_title sh_url="#CommentModal" modal_url="yes" %}
    {% include "layout_elements/section_header.html" %}
  {% endwith %}
  {% with form=comment_form form_valid=comment_form_valid %}
  {% include "dialogs/comment.html" %}
  {% endwith %}
  
  {% include "info_box/comments.html" %}
 
</div>

<div class="span6">

  {% with web_source_list=participant.web_sources.all %}
  {% include "info_box/web_sources.html" %}
  {% endwith %}
  
  {% trans "Documents" as sh_title %}
  {% with sh_title=sh_title sh_icon="icon-inbox" sh_url_title="" %}
    {% include "layout_elements/section_header.html" %}
  {% endwith %}
    
  {% with document_list=participant.related_documents.all %}
    {% include "info_box/documents.html" %}
  {% endwith %}

  
  {% trans "Document Relations" as sh_title %}
  {% with sh_title=sh_title sh_icon="icon-inbox" sh_url_title="" %}
    {% include "layout_elements/section_header.html" %}
  {% endwith %}
  
  {% with show_document="yes" %}
    {% include "info_box/document_relations.html" %}
  {% endwith %}
  
</div>

{% endblock %}
