{% extends 'base.html' %}
{% load i18n %}

{% block content %}


<div class="span6">
  {% trans "Participant" as sh_title %}
  {% with sh_title=sh_title sh_icon="icon-group" sh_url_title="" %}
    {% include "layout_elements/section_header.html" %}
  {% endwith %}
  
  <div class="section">
    
    <div class="info_box" style="background-color: #f9f9f9;padding: 15px;">
      <div class="info_box_header">
        {{ participant.name }}
      </div>
      <div class="info_box_content">
        <p>
          {{ participant.get_participant_type_display }}
        </p>
        <p>
          {{ participant.description }}
        </p>
        <p>
        <span style="font-weight: bold;">
        <i class="icon-external-link"></i> <a href="{{ participant.url }}" target="_blank">{{ participant.url|truncatechars:40 }}</a><br>
        </span>
        {% if participant.info_url %}
          <span style="font-weight: normal;">
          <i class="icon-external-link"></i> <a href="{{ participant.info_url }}" target="_blank">{{ participant.info_url|truncatechars:40 }}</a><br>
          </span>
        {% endif %}
      </p>
      </div>
    </div>
    
  </div>
  
  {% trans "Events" as sh_title %}
  {% with sh_title=sh_title sh_icon="icon-time" sh_url_title="" %}
    {% include "layout_elements/section_header.html" %}
  {% endwith %}
  
  <div class="section">
  
    <div class="info_box">
      <div class="info_box_content">
        {% with event_list=participant.related_events.all %}
          {% include "info_box/events.html" %}
        {% endwith %}
      </div>
    </div>
  
  </div>
 
</div>

<div class="span6">

  {% trans "Participants" as sh_title %}
  {% with sh_title="Beziehungen: Dokumente" sh_icon="icon-cogs" %}
    {% include "layout_elements/section_header.html" %}
  {% endwith %}
  
  <div class="section">
  
    <div class="info_box">
      {% if relation_list %}
        <div class="info_box_content">
          {% include "info_box/document_relations.html" %}        
        </div>
      {% else %}
        {% trans "No relations to documents defined." %}
      {% endif %}
    </div>
  
  </div>
  
</div>

{% endblock %}
